@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);

@import
url(https://fonts.googleapis.com/css?family=Cutive+Mono);

h1{
  font-family: 'Old Standard TT', serif;
	font-size:200%;
	font-weight:700;
	letter-spacing:1px;
	margin-bottom:20px;
    text-decoration:underline;
}

body{
  background-color: #2F4F4F;
  color: #A9A9A9;
  font-family: 'Cutive Mono';
  margin: 10% 20%;
}

.exp-header{
  text-align: center; 
  text-transform: uppercase;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: rgba(0, 0, 0, 0.5)
}

h4{
  text-decoration: underline;
}
